<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Veterinaria - Editar Registro Médico</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<h1>Editar Registro Médico</h1>

<form th:action="@{/registros-medicos/{id}(id=${registro.id})}" method="post">
    <label>Paciente:</label>
    <input type="text" th:value="${registro.paciente.nombre}" disabled>

    <label>Veterinario Responsable:</label>
    <input type="text" name="veterinarioResponsable" th:value="${registro.veterinarioResponsable}" required>

    <button type="submit">Guardar Cambios</button>
</form>

<div class="nav-buttons">
    <form th:action="@{/registros-medicos/{id}(id=${registro.id})}">
        <button>Cancelar</button>
    </form>
</div>

</body>
</html>
