<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Veterinaria - Nueva Factura</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<h1>Crear Nueva Factura</h1>

<form th:action="@{/facturas}" method="post">
    <label>Costo Base (Consulta):</label>
    <input type="number" name="costoBase" required min="0" step="0.01" placeholder="0.00">

    <button type="submit">Crear Factura</button>
</form>

<div class="nav-buttons">
    <form th:action="@{/facturas}">
        <button>Cancelar</button>
    </form>
</div>

</body>
</html>
